p {
  background: yellow;
  text-align: center;
  max-width: 500px;
}

#color1 {
  background: blue;
  text-align: center;
  max-width: 500px;
}
.color2 {
  background: green;
  text-align: center;
  max-width: 500px;
}

p.color3 {
  background: gray;
  text-align: center;
  max-width: 500px;
}
a[target] {
  background: darkolivegreen;
  text-align: center;
  max-width: 500px;
}
.color4.color5 {
  background: chartreuse;
  text-align: center;
  max-width: 500px;
}
div p {
  background: hotpink;
  text-align: center;
  max-width: 500px;
}
div + p {
  background: aqua;
  text-align: center;
  max-width: 500px;
}

#one.color6 {
  background: brown;
  text-align: center;
  max-width: 500px;
}
[class^="top"] {
  background: cadetblue;
  text-align: center;
  max-width: 500px;
}
