* {
    box-sizing: border-box;
    margin: 0;
}


.header {
    height: 100px;
    background-color: chartreuse;
}

.main {
    width: calc(95vw - 500px);
    background-color: darkgoldenrod;
    float: left;
    margin-left: 320px;
}

.left {
    width: 300px;
    background-color: blueviolet;
    float: left;
    margin-left: calc(-100vw + 290px);
}


.right {
    width: 200px;
    background-color: brown;
    float: right;
  

}

.footer {
    height: 100px;
    background-color: coral;
}

.clearfix {
    clear: both;
}

.height {
    height: calc(100vh - 200px);
}