.image {
    display: block;
    width: 90%;
    margin: 1em auto;
}

.soccer {
    width: calc(33.333% - 19px);
    display: inline-block;
    background-color: skyblue;
    margin: 0.5em;
}

.item {
    width: calc(33.333% - 1em);
    background-color: skyblue;
    margin: 0.5em;
    float: right;
}