* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body>* {
    border: 1px solid black;
}

.block {
    padding-bottom: 150px;
}

.block2 {
    padding-bottom: 350px;
}

.block__item {
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: darkmagenta;
    margin: 20px;
}


.left {
    float: left;
}

.right {
    float: right;
}

.block__item--small {
    width: 100px;
    height: 100px;
    margin-top: 25px;
}

.block__item--line2-block2 {
    margin-right: calc(600px - 210px - 5px);
}

.block__item--line2-block3 {
    margin-right: calc(-500px + 250px + 5px);
}

.block__item--line2-block4 {
    margin-right: calc(-600px + 230px + 5px);
}

.block__item--line2-block5 {
    margin-right: calc(-700px + 210px + 5px);
}

.block__item--row3-margin3 {
    margin-right: calc(400px - 100px - 10px);
}

.block__item--row4-margin4 {
    margin-right:calc(-600px + 100px + 10px);
}


.block__item--big {
    height: 300px;
    width: 300px;
}

.block__item--long {
    width: 300px;
    height: 100px;
}

.block__item--wide1-block1 {
margin-right: calc(950px - 15px);
}


.block__item--wide1-block2 {
    margin-right: calc(-700px + 45px);

}

.block__item--wide1-block3 {
margin-top: 200px;
margin-right: calc(-700px + 45px);

}

.block__item--wide2-block1 {
    margin-right: calc(400px - 1em);
}

.block__item--wide2-block2 {
    margin-right: calc(-700px + 1em);
}

.block__item--wide2-block3 {
margin-right: calc(-700px + 1em);
margin-top:215px;
}



