* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body>* {
    border: 1px solid black;
}

.block {
    padding-bottom: 150px;
}

.block2 {
    padding-bottom: 350px;
}

.block__item {
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: darkmagenta;
    margin: 20px;
}

.block__second {
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: darkmagenta;
    margin: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.block__item--small {
    width: 100px;
    height: 100px;
    margin-top: 25px;
}

.block__item--line2-block2 {
    margin-right: calc(600px - 3em - 24px);
}

.block__item--line2-block3 {
    margin-right: calc(-400px + 3em);
}

.block__item--line2-block4 {
    margin-right: calc(-500px + 2em);
}

.block__item--line2-block5 {
    margin-right: calc(-600px + 1em + 20px);
}

.block__item--row3-margin3 {
    margin-right: calc(500px - 6em + 25px);
}

.block__item--row4-margin4 {
    margin-right: calc(-500px + 1em + 15px);
}


.block__second--big {
    height: 300px;
    width: 300px;
}

.block__second--long {
    width: 300px;
    height: 100px;
}

.block__second--wide1-block1 {
    margin-right: calc(900px + 1em)
}


.block__second--wide1-block2 {
    margin-right: calc(-500px - 3em);

}

.block__second--wide1-block3 {
    margin-right: calc(-500px - 3em);
    margin-top: 200px;

}

.block__second--wide2-block1 {
    margin-right: calc(450px - 2em);
}

.block__second--wide2-block2 {
    margin-right: calc(-500px - 3em);
}

.block__second--wide2-block3 {
    margin-right: calc(-500px - 3em);
    margin-top: 150px;
}